@import "src/styles/variables";
.medium-side-card {
  background-color: $card-gray;
}
.medium-side-card-text {
  color: #5A5A5A;
}
.card-author {
  font-size: 12px;
}
.card-author-lg {
  font-size: 14px;
}