
.row-dis-wrapper-row {
  gap: 20px;
  padding: 0 16px 24px 16px;
  width: auto;
}
.row-dis-wrapper-column {
  padding: 8px;
  width: auto;
}
.divider-wrapper {
  padding: 16px 0;
}

.divider-row {
  border-right: 1px solid lightgrey;
}

.divider-column {
  border-bottom: 1px solid lightgrey;
}

.carousel-img {
  max-width: 278px;
  width: auto;
  height: auto;
  max-height: 156px;
  cursor: pointer;
}

.carousel-body {
  max-width: 278px;
  width: auto;
}


@media (max-width: 767px) {
  .row-dis-wrapper {
    gap: 0;
    padding: 20px 8px;
    max-width: 100%;
  }

  .carousel-img {
    width: auto;
    height: auto;
    max-width: 70vw;
    max-height: 30vh;
    object-fit: contain;
  }

  .carousel-body {
    width: auto;
    min-width: 278px;
    max-width: 70vw;
  }

  .divider {
    border-left: 0;
  }
  .divider-wrapper {
    scroll-snap-align: start;
  }
}