@import "src/styles/variables";
.small-side-card {
  background-color: $background-blue;
}
.small-side-card:hover {
  background-color: #57697D;
  cursor: pointer;
}
.text-light {
  color: #C2C2C2
}

.light-hover:hover {
  color: #C2C2C2;
  cursor: pointer;
}

.card-author {
  font-size: 12px;
}