@import "../variables";
.sticky-col-el {
  position: sticky;
  z-index: 1;
  top: 50px;
}

.grey-col-dis {
  background-color: $card-gray;
}

.lightblue-col-dis {
  background-color: #E7F1FF;
}
.h-div {
  border-right: 1px solid lightgrey;
}