$white:#fff;
$body-bg:$white;
$fullscreen-width:1260px;
$font: 'Eugenio Sans Text', 'Helvetica Neue', Helvetica, sans-serif;
$font-family-base: $font;
$font-family-sans-serif: $font;
$color-hover: #4b88ca;