$white:#fff;
$body-bg:$white;
$font: 'Eugenio Sans Text', 'Helvetica Neue', Helvetica, sans-serif;
$font-family-base: $font;
$font-family-sans-serif: $font;
$color-hover: #4b88ca;
:root {
  --main-width: 1268px;
}
@media (max-width: 1268px) {
  :root {
    --main-width: 100vw;
  }
}