$white: #fff;
$body-bg: $white;
$font-sans-serif: 'Eugenio Sans Text', 'Helvetica Neue', Helvetica, sans-serif;
$font-serif: 'Eugenio Serif', 'Times New Roman', Times, serif;
$blue-hover: #4b88ca;
$orange: #F75B00;
$light-orange: #F59015;
$background-blue: #42505F;
$dark-gray: #7D838D;
$sport-title-color: #537DAA;
$card-gray: #E9E9E9;
:root {
  --main-width: 1260px;
}

@media (max-width: 1539px) {
  :root {
    --main-width: 996px;
  }
}

@media (max-width: 995px) {
  :root {
    --main-width: 100vw;
  }
}