.logo-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-width {
  width: 383px;
}

.logo-timestamp {
  padding: 16px 0 0;
  font: 400 11px/1 'Eugenio Sans Text', 'Helvetica Neue', Helvetica, sans-serif;
  letter-spacing: 0.32px;
  white-space: nowrap;
  color: #969696;
  text-align: center;
}