@import "src/styles/variables.scss";

.width-card {
  width: 280px;
  height: 460px;
}
.width-card-img {
  width: 275px;
  height: 460px;
}

.img-container {
  cursor: pointer;
}

.card-text {
  padding: 40px 16px 16px 16px;
}

.card-title {
  border-bottom: 4px $orange solid;
}

@media (max-width: 1539px) {
  .width-card {
    max-width: 280px;
    max-height: 460px;
    height: auto;
    width: auto;
  }
  .width-card-img {
    max-width: 275px;
    max-height: 460px;
    height: auto;
    width: auto;
  }
}