@import "src/styles/variables.scss";
.width-card {
  width:  299px;
  height: 531px;
}

.img-container {
  cursor: pointer;
}

.card-text {
  padding: 40px 16px 16px 16px;
}
.card-title {
  border-bottom: 4px $orange solid;

}
