@import "src/styles/variables.scss";

.card-container {
  container-type: inline-size ;
}
.width-card {
  width: 280px;
  height: 460px;
}
.width-card-img {
  width: 275px;
  height: 460px;
}

.img-container {
  cursor: pointer;
}

.card-text {
  padding: 40px 16px 16px 16px;
}


@media (max-width: 1539px) {
  .width-card {
    max-width: 235px;
    max-height: 393px;
    height: 393px;
    width: 235px;
  }

  .width-card-img {
    max-width: 235px;
    max-height: 460px;
    height: auto;
    width: auto;
  }
}

@media (max-width: 950px) {
  .width-card {
    max-width: 190px;
    max-height: 317px;
    height: 317px;
    width: 180px;
  }

  .width-card-img {
    max-width: 190px;
    max-height: 317px;
    height: auto;
    width: auto;
  }
}