.responsive-card {
  padding: 8px;
}
.res-card-dims {
  max-width: 290px;
  max-height: 516px;
  width: auto;
  height: auto;
}

.res-card-line-height {
  line-height: 24px;
}

.res-card-img {
  cursor: pointer;
}

.res-card-text {
  font-size: 20px;
}

@media (max-width: 1539px) {
  .res-card-dims {
    max-width: 228px;
    max-height: 406px;
  }

  @media (max-width: 767px) {
    .res-card-dims {
      max-width: 80vw;
      max-height: 861px;
    }
    .responsive-card {
      scroll-snap-align: start;
    }
  }
}

