
.row-dis-wrapper {
  gap: 10px;
  padding: 0 16px 0 16px;
  width: auto;
}

.divider {
  border-right: 1px solid lightgray;
}

.row-img {
  max-width: 278px;
  width: 100%;
  height: auto;
  max-height: 156px;
  cursor: pointer;
}


@media (max-width: 767px) {

  .row-dis-wrapper {
    gap: 0;
    padding: 5px 5px;
    max-width: 100%;
  }

  .divider {
    border-right: 0;
  }

  .divider-wrapper {
    scroll-snap-align: start;
  }

  .divider-wrapper-border {
    border-bottom: 1px solid lightgray;
  }
}