@import "../../styles/variables.scss";
.nav-text {
  font-size: 14px;
}

.navbar {
  --bs-navbar-padding-y: 3px;
}

.navbar-color {
  color: #5a5a5a;
}

.mobile-logo {
  padding-right: 2px;;
}

.mobile-banner {
  background-color: #f9f9f9;
}

.subscribe {
  font-size: 11px;
}

.color-change:hover {
  color: $color-hover;
  cursor: pointer;
}

//offcanvas

.offcanvas {
  --bs-offcanvas-width: 30vw;
  @media (max-width: 1539px) {
    --bs-offcanvas-width: 50vw;
  }

  @media (max-width: 767px) {
    --bs-offcanvas-width: 100vw;
  }
}

.offcanvas-backdrop {
  background-color: rgba(255, 255, 255);
}

.offcanvas-backdrop.show {
  opacity: 0.7;
}

.offcanvas-header {
  height: 82px;
  padding: 16px;
}

/*.animated-border {
  position: relative;
  padding: 20px;
  display: inline-block;
  cursor: pointer;
}

.animated-border::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #000000;
}

.animated-border::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #00bcd4;
  transition: width 0.15s ease;
  z-index: 2;
}
.animated-border:hover{
  color: #00bcd4;
}
.animated-border:hover::after {
  width: 100%;
  transition: width 0.2s ease;
}*/
