@import "../../styles/variables.scss";
.nav-text {
  font-size: 14px;
}

.navbar {
  --bs-navbar-padding-y: 3px;
}

.navbar-color {
  color: #5a5a5a;
}

.mobile-logo {
  padding-right: 2px;;
}

.mobile-banner {
  background-color: #f9f9f9;
}

.subscribe {
  font-size: 11px;
}

.color-change:hover {
  color: $color-hover;
  cursor: pointer;
}

