@import '../../styles/variables';
.img-display-margin {
  margin-bottom: 100px;
}
.img-display-text {
  background-color: $body-bg;
  width: 80%;
  container-type: inline-size;
}

.text-size-dynamic {
  font-size: 7cqw;
}

.img-display-fluid {
  max-width: 862px;
  max-height: 484px;
  width: 100%;
  height: 100%;
}
